body {
  font-family: 'Fjalla One', sans-serif;
  '

}

.title {
  position: absolute;
  z-index: 1;
}

.main-container {
  box-shadow: 2px 2px 2px lightgrey;
  width: 500px;
  height: 350px;
  background: #a9a9a9cf;
  border-radius: 3px;
  padding-top: 15px;
  margin: auto;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 15%;
  z-index: 2;
}

.display-input {
  width: 90%;
  margin: 0 auto;
  background-color: whitesmoke;
  border-radius: 2px;
  padding: 15px;
  text-align: right;
  box-shadow: 2px 2px 2px #208ffc66;
}

.numbers-column {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: 10px;
  background: whitesmoke;
  justify-content: space-between;
}

.calculator-body {
  display: flex;
  flex-direction: row;
  width: 98%;
  margin-top: 12px;
}

.num {
  padding: 15px;
  border: 1px solid black;
  width: 25%;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.8s ease-in-out;
}

.num:hover {
  box-shadow: 2px 2px 7px #000000db;
  background-color: dodgerblue;
  color: whitesmoke;
  transform: scale(1.04);
}

.equal-sign {
  background-color: dodgerblue;
}

.operators-column {
  display: flex;
  flex-direction: column;
  width: 15%;
  margin-left: 15px;
  text-align: center;
}

.operator:hover {
  box-shadow: 2px 2px 7px #000000db;
  transform: scale(1.02);
  background-color: dodgerblue;
  color: whitesmoke;
}

.operator {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
  background: whitesmoke;
  color: dodgerblue;
  border-radius: 3px;
  transition: all 0.8s ease-in-out;
  transform: scale(1.02);
  font-size: 1.7rem;
  font-weight: bold;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  background: whitesmoke;
}